* {
    box-sizing: border-box ;
}

.main {
    background-image: url(../image/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
}

/* start navigation bar style */
.topnav {
        background-color: black;
        overflow: hidden;
        margin-top: 1.5%;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: auto;
        margin-right: auto;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    text-align: center;
    padding: 14px 45px;
    text-decoration: none;
    font-size: 18px;
    margin-left: 3%;
    color: white;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    color: whitesmoke;
  }

  .topnav button {
    float: right;
    text-align: center;
    margin: 4px 20px;
    border-radius: 18px;
    padding: 8px 50px;
    font-size: 18px;
    background-color: red;
    color: wheat;

  }
  /* end navigation bar style */

  /* start section style */

  .sections {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
    
  }
  .sections .one {
    margin-top: 4%;
    margin: 2.5%;
    display: inline; 
    float:left; 
    background:black;
    width:28%;
    height:380px;
}
.sections .two {
  margin-top: 4%;
  display: inline;
    float:left; 
    background:black;
    margin: 2.5%;
    width:28%;
    height:380px;
}
.sections .three {
  margin-top: 4%;
  margin: 2.5%;
  display: inline;
    float:right;
    background:black;
    width:29%;
    height:380px;
}
h2{
    color:white;
    font-size: 2rem;
    font-weight: bold;
    text-align:center;
}
img{
  width: 40%;
  height: 250px;
  /* padding:4%; */
  margin: 2% 5% 5% 4%;
}